<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Harry Potter Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/spellsTable.js"></script>
    <style>
      table, th, td {
        border: 1px solid black;
      }
    </style>  
  </head>

  <body data-ng-app="tableApp" data-ng-controller="tableCtrl" data-ng-init="hideForm=true">
    <section data-ng-hide="hideTable">
      <div style="margin-left: 70px;">
        <label for="groupBy">Spell Type</label>
        <select id="groupBy"
          data-ng-model="selectedType"
          data-ng-options="type.display for type in types"
          data-ng-change="redrawTable()">
        </select>
      </div>

      <div style="margin: 30px">
        <table>
          <tr>
            <th>Spell Name</th>
            <th>Spell Type</th>
            <th>Spell Effect</th>
            <th>Spell Counter Spell</th>
          </tr>

          <tr data-ng-repeat="obj in spells">
            <td>{{ obj.name }}</td>
            <td>{{ obj.type }}</td>
            <td>{{ obj.effect }}</td>
            <td>{{ obj['counter-spell'] }}</td>
            <td>
              <button data-ng-click="editSpell($index)">Edit</button>
            </td>
            <td>
              <button data-ng-click="deleteSpell(obj.name)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </section>

    <section data-ng-hide="hideForm">
      <div style="font-size: 30px;">
        <label data-ng-model="spellID" hidden></label>
        <div>
          <label for="name">Spell Name:</label>
          <input type="text" id="name" data-ng-model="name">
        </div>
  
        <div>
          <label for="type">Spell Type:</label>
          <input type="text" id="type" data-ng-model="type">
        </div>
  
        <div>
          <label for="effect">Spell Effect:</label>
          <input type="text" id="effect" data-ng-model="effect">
        </div>
  
        <div>
          <label for="counter-spell">Counter Spell:</label>
          <input type="text" id="counter-spell" data-ng-model="counter">
        </div>
  
        <div style="float: left; margin-top: 30px">
          <div style="float: left; clear:right; margin-left: 30px;">
            <button id="submit" data-ng-click="updateSpell()">Update</button>
          </div>
        </div>

        <div style="float: left; margin-top: 30px">
          <div style="float: left; clear:right; margin-left: 30px;">
            <button id="cancelButton" data-ng-click="cancelUpdate()">Cancel</button>
          </div>
        </div>
  
        <div style="float: left; clear: left; margin-top: 20px; font-size: 24px; color: green">
          {{addResults}}
        </div>
      </div>
    </section>

  </body>
  
</html>